<div class="container mt-5">
  <% if @users.any? %>
    <% if @confirmations.any? %>
      <hr>
      <%= render 'index_filtered', users: @confirmations, title: 'Confirmações' %>
      <br>
    <% end %>
    
    <% if @not_confirmations.any? %>
      <hr>
      <%= render 'index_filtered', users: @not_confirmations, title: 'Não Confirmações' %>
      <br>
    <% end %>

    <% if @will_not.any? %>
      <hr>
      <%= render 'index_filtered', users: @will_not, title: 'Desistências' %>
      <br>
    <% end %>
  <% else %>
    <div class="alert alert-warning" role="alert">
      Não há convidados cadastrados.
    </div>
  <% end %>
</div>